<%= form_for(@user, url: users_path) do |f| %>
  <div class="field form-group">
    <%= f.label :username %><br />
    <%= f.email_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>


  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Register", class: "btn btn-primary" %>
  </div>
<% end %>