<%= form_for(@user, url: users_path ) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.email_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Create user" %>
  </div>
<% end %>