<div class="row mt-1">
  <div class="col-sm-3">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= video.youtube_url %>?rel=0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-sm-5" data=<%= video.id %>>
    <h3>
      <%= video.title || 'Missing title' %>
      <span>
        <i class="clickable fa fa-thumbs-o-up" aria-hidden="true"></i>
        <i class="clickable fa fa-thumbs-o-down" aria-hidden="true"></i>
      </span>
    </h3>
    <h4> shared by <%= video.user.username %></h4>
    <p>
      <span>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"> <%= video.votes.like.size %></i>
        <i class="fa fa-thumbs-o-down" aria-hidden="true"><%= video.votes.dislike.size %></i>
      </span>
    </p>
    <p> <%= video.desc || 'Missing description' %></p>
  </div>
</div>
